.no-scroll {
  overflow: hidden !important;
}
.grid-container {
  display: grid;
  grid-template-columns: 296px 1fr;
  grid-template-rows: 92px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  width: 100%;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }
}

/* ------------------------ */
#sidebar {
  grid-area: sidebar;
  background-color: #002855;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1023px) {
    grid-area: unset;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    width: 80%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    z-index: 66;
    background-color: rgba(252, 252, 252, 0.6);
  }

  .sidebar .sidebar_list_cont {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: column;
  }
  .sidebar .sidebar_list_cont a:hover {
    background: linear-gradient(
      180deg,
      #e6b014 45.48%,
      #fdbf6f 95.06%
    );
  }
  .sidebar .sidebar_list_cont a:hover img {
    transform: scale(1.05);
  }
  .sidebar .sidebar_list_cont a img {
    transition: transform 0.3s ease-in-out; /* Adding transition for animation */
  }

  .sidebar .sidebar_list_cont a {
    display: flex;
    align-items: center;
    padding-left: 39px;
    gap: 33px;
    padding-top: 12px;
    padding-bottom: 14px;
  }

  .sidebar .sidebar_list_cont a.active-link {
    border-left: 6px solid #fff;

    background: linear-gradient(
      180deg,
      #e6b014 45.48%,
      #fdbf6f 95.06%
    );
  }
  .sidebar .sidebar_list_cont a.active-link img {
    transform: scale(1.1);
  }
  .sidebar .sidebar_list_cont a span {
    font-size: 14px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  &.sidebar-visible {
    display: flex;
    transform: translateX(0);
  }
}
/* ------------------------------------------------ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0px 26px 38px;
  z-index: 10;
  background-color: #ffffff;

  .menu-icon {
    display: none;
  }

  .search-container {
    display: flex;
    align-items: center;
    padding: 14px 57px 15px 14px;
    height: 49px;
    max-width: 284px;
    gap: 11px;
    border-radius: 5px;
    background-color: #f0f2fa;
  }

  .search-input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    background-color: transparent;
    outline: none;
  }

  .search-icon {
    position: absolute;
    margin-left: 10px;
    font-size: 18px;
    color: #6b7280;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-right: 1rem;
  }

  .profile-image {
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-name {
    font-size: 16px;
    color: #333;
  }

  .dropdown-arrow {
    font-size: 16px;
    color: #333;
  }
}
.main-content {
  grid-area: main;
  background-color: #f0f2fa;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* -------------------------------------- */

.logo {
  margin: 46px 55px 73px 39px;
}
