.prospectsTableHeader {
  align-items: center;
}
#prospectsTableHeader h1 {
  color: #353535;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 0;
}
.report-table-header-btn a,
.ongoingNav a {
  color: #fff;
}
#prospect-table-container {
  padding: 0 27px;
}
.searchbyname {
  justify-content: center;
  text-wrap: nowrap;
}
#searchbynameP {
  font-size: 15.153px;
  color: #34475e;
  font-weight: 500;
  border: 1px solid rgba(127, 139, 148, 0.5);
}
#searchsectionmid-container {
  border: 1px solid #e5e5e5;
}
.prospectSearchInpDiv {
  width: 100%;
  outline: none;
  position: relative;
}
.prospectSearchInpDiv input {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  border: 1px solid rgba(127, 139, 148, 0.5);
}
.prospectSearchIcon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
@media screen and (max-width: 668px) {
  #prospectSearchContainer {
    height: max-content;
    padding: 0;
  }

  #prospectTableWraper {
    display: block;
    height: max-content;
  }

  #prospectSearchname {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px; /* Optional: Adds space between the input and the button */
    align-items: center;
    width: 100%;
  }

  .searchbyname {
    display: flex;
    align-items: center;
  }

  .prospectSearchInpDiv {
    width: 100%;
    border-radius: 2.841px;
    padding: 8px;
    border: 0.947px solid rgba(127, 139, 148, 0.5);
  }

  #prospectFindBtn {
    height: max-content;
    padding: 8px 30px;
  }
}

.prospectTableWraper {
  background-color: #fff;
  padding: 2%;
  margin-top: 0;
  border-radius: 5px;
  max-width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media screen and (max-width: 668px) {
  .searchinput {
      width: 100%;
      flex: 1;
      padding: 0;
      border: 0;
  }
}
/* .prospectTableWraper overriding .createprospect-tablewrapper at large screens */
@media screen and (min-width: 1200px) {
  .prospectTableWraper {
    height: max-content;
  }
}
.prospectTableNav {
  display: flex;
  gap: 3px;
  margin-top: 1rem;
}
.prospectTableNav .prospectTableNavChild {
  padding: 14px 34px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
}
.allNav {
  background-color: #fff;
  color: #002855 !important;
  position: relative;
}
.allNav hr {
  width: 38px;
  height: 3px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #002855;
}
.openNav {
  background-color: #0277e6;
}
.closedNav {
  background-color: #00b388;
}
.ongoingNav {
  background-color: #ffb946;
}
.outtaNav {
  background-color: #e30000;
}
.prospectTable {
  width: 100%; /* Remove fixed width to make the table responsive */
  min-width: 760px;
}
#prospectTable #prospectTableBody tr {
  /* padding-inline: 15px; */
  border: 1px solid rgba(88, 88, 88, 0.2) !important;
}
.createprospect-tablewrapper thead th {
  padding: 26px 9px;
  text-wrap: nowrap;
}
.createprospect-tablewrapper tbody td {
  padding: 15px 9px;
  text-wrap: nowrap;
  color: #353535;
  font-size: 12px;
}
.statusSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 75px;
  height: 18px;
  border-radius: 5px;
  color: #fff;
}

/* dropdown on hover div */
.viewDropdownP {
  position: relative;
}
.ViewDropdown {
  position: absolute;
  top: 60%;
  right: 60%;
  width: 111px;
  background-color: #fff;
  border-radius: 5px;
  padding: 9px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  gap: 11px;
  z-index: 2;
}
.ViewDropdown a {
  color: #353535;
  font-size: 12px;
}
.viewDropdownImg:hover {
  cursor: pointer;
}

/* --------------- table footer ----------------- */
.tableWrapFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 237px;
  color: #9f9f9f;
  font-size: 12px;
  font-weight: 700;
}
.leftTableWrapFooter {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.leftTableWrapFooter .img1 {
  width: 10px;
}
.prospectPgCount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.rightTableWrapFooter {
  display: flex;
  align-items: center;
  gap: 9.7px;
}
.no15 {
  border: 1px solid #7f8b94;
  padding: 5px 7.5px;
  display: flex;
  align-items: center;
  gap: 8.6px;
}
.no15 img {
  width: 5px;
}

@media screen and (max-width: 658px) {
  .prospectSearchInpDiv input{
    height: 100%;
    padding-block: 5px !important;
  }
}
@media screen and (max-width: 600px) {
  
  #prospect-table-container {
    padding: 0 15px;
  }
  .prospectTableNav .prospectTableNavChild {
    padding: 5px 3%;
  }
  .allNav hr {
    width: 22px;
    bottom: 10%;
  }
  .tableWrapFooter {
    min-width: 760px;
    margin-top: 0;
  }
  .leftTableWrapFooter .img1 {
    width: 8px;
    margin-left: 9%;
  }
}
