.report-dashboard-container {
  padding: 32px 32px 56px;
}
.report-dashboard-container a {
  border-radius: 5px;
}
.report-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  align-items: center;
}
.report-header p {
  font-size: 24px;
  font-weight: 900;
  line-height: 30.36px;
  color: #585858;
}
.report-create-button {
  background-color: #002855;
  color: #fff;
  border: none;
  display: flex;
  margin-top: 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.24px;
  padding: 14px 44px;
  gap: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .report-dashboard-container {
    padding: 1rem;
  }
  .report-create-button {
    margin-top: 0;
    padding: 10px 24px;
  }
  .report-header p {
    font-size: 18px;
    line-height: 20px;
    color: #585858;
  }
}

.report-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 63px;
  margin-bottom: 28px;
}

.report-card {
  display: flex;
  flex-direction: column;
  color: #f3f5f6;
  background-color: #fff;
  padding: 13px 28px 27px 21px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  min-height: 127px;
}
.cardup {
  flex: 1;
  display: flex;
}

.carddown {
  flex: 1;
  display: flex;
  justify-content: end;
}

.report-card .cardup h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.77px;
}
.report-card .carddown p {
  font-family: Circular Std;
  font-size: 60px;
  font-weight: 700;
  line-height: 75.9px;
  align-self: flex-end;
}
.report-card .carddown .firstp {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.3px;
  align-self: center;
}
.report-cards .report-card:nth-child(1) {
  background-color: #002855;
}

.report-cards .report-card:nth-child(2) {
  background-color: #e6b014;
}

.report-cards .report-card:nth-child(3) {
  background-color: #353535;
}

.report-cards .report-card:nth-child(4) {
  background-color: #00b388;
}

.report-main {
  display: grid;
  gap: 20px;
}
.report-main-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.report-main-down {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (min-width: 700px) and (max-width: 1280px) {
  .report-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 28px;
    gap: 43px;
  }
  .report-main-down {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 699px) {
  .report-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .report-main-down {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1023px) {
  .report-main-up {
    grid-template-columns: 1fr;
  }
}
.report-recent-reports,
.report-top-products,
.report-top-referrals,
.report-prospect-conversion,
.report-top-branches {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 90vw; */
  margin-left: auto;
  margin-right: auto;
}
.report-prospect-conversion .chart {
  max-width: 100%;
}

.report-recent-reports .view-report,
.report-top-products .view-report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 22px;
}
.report-top-products .view-report {
  margin-bottom: 11px;
}
.report-recent-reports .view-report {
  border-bottom: 1px solid #edf2f6;
}
.report-recent-reports .view-report a {
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #002855;
  padding: 7px 13px;
  border: 1px solid #002855;
  box-shadow: 0px 4px 20px 0px #eeeeee80;
}

.report-recent-reports .view-report h3,
.report-top-products .view-report h3,
.report-top-referrals h3,
.report-prospect-conversion h3,
.report-top-branches h3,
.report-top-referrals li .number,
.report-top-branches li .number {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #222b45;
}
.report-top-referrals h3 {
  margin-bottom: 16px;
}
.report-prospect-conversion h3 {
  margin-bottom: 10px;
}
.report-top-branches h3 {
  margin-bottom: 23px;
}

.report-top-referrals li .number,
.report-top-branches li .number {
  font-size: 15px;
}
.report-top-referrals h3,
.report-prospect-conversion h3,
.report-top-branches h3 {
  padding-left: 28px;
}
.report-top-products .view-report {
  padding-bottom: 8px;
}

.report-recent-reports .first-span,
.report-top-referrals .first-span,
.report-top-branches .first-span {
  display: flex;
  gap: 28px;
  font-size: 13px;
  align-items: center;
  font-weight: 450;
  line-height: 16px;
  color: #222b45;
}

.report-top-referrals .first-span {
  gap: 7px;
}

.report-top-branches .first-span {
  gap: 14px;
}
.report-top-branches .first-span .circle {
  padding: 7px 9px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 450;
  line-height: 16px;
}
.report-top-branches .first-span .l {
  background-color: #0070bf;
}
.report-top-branches .first-span .p {
  background-color: #f66b22;
}
.report-top-branches .first-span .a {
  background-color: #47a51a;
}
.report-recent-reports .date-span,
.report-table thead th {
  color: #96a5b8;
  font-size: 12px;
  font-weight: 450;
  line-height: 16px;
}

.report-recent-reports ul,
.report-top-referrals ul,
.report-top-branches ul {
  list-style: none;
}

.report-recent-reports li,
.report-top-referrals li,
.report-top-branches li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  border-bottom: 1px solid #edf2f6;
}
.report-recent-reports li,
.report-top-referrals li,
.report-top-branches li {
  padding-left: 28px;
}
.report-recent-reports li,
.report-top-referrals li,
.report-top-branches li {
  padding-right: 22px;
}

.report-recent-reports li a,
.report-top-products .view-report a {
  border: 1px solid #ffffff;
  background-color: #002855;
  padding: 7px 19px;
  color: #ffffff;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.report-recent-reports li:last-child,
.report-top-referrals li:last-child,
.report-top-branches li:last-child {
  border-bottom: none;
}

/* Table Styling */
.report-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.report-table th,
.report-table td {
  padding-block: 10px;
  border-bottom: 1px solid #edf2f6;
}
.report-table td:last-child {
  padding-right: 22px;
}
.report-table td:first-child,
.report-table th:first-child {
  padding-left: 28px;
}
.report-table tbody tr:last-child {
  border-bottom: none;
}
.report-table th {
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 6px;
  text-align: left;
}

.report-table tbody tr td:nth-child(1),
.report-table tbody tr td:nth-child(2) {
  font-size: 13px;
  font-weight: 450;
  line-height: 16px;
  text-align: left;
  color: #222b45;
}

/* Progress Bar Styling */
.report-progress-bar {
  height: 1px;
  max-width: 100%;
  width: 180px;
}
@media screen and (max-width: 1280px) {
  .report-progress-bar {
    width: 60%;
  }
}
.report-progress-bar[data-color="first"] {
  background-color: #8cfac7;
}
.report-progress-bar[data-color="second"] {
  background-color: #cde7ff;
}

.report-progress-bar[data-color="third"] {
  background-color: #c5a8ff;
}

.report-progress-bar[data-color="fourth"] {
  background-color: #ffd5a4;
}
.report-progress-bar .report-progress {
  width: 0%;
  height: 100%;
  overflow: hidden;
  background-color: green;
  position: relative;
  transition: width 0.5s ease;
}

/* Percentage Text Styling */
.report-percentage {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid white;
  color: #007bff;
  font-weight: bold;
}
