.report-table-container {
  width: 100%;
  padding: 0px 20px 20px 50px;
  background-color: #f0f2fa;
}
.report-table-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.report-table-header h1 {
  font-family: Circular Std;
  font-size: 24px;
  font-weight: 900;
  line-height: 30.36px;
  margin-bottom: 40px;
  padding-left: 10px;
}
.report-table-header .report-table-header-btn {
  height: Hug (48px) px;
  background-color: #002855;
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.24px;
  text-align: left;
  color: #ffffff;
  padding: 14px 44px;
  border-radius: 5px;
}
.searchsection-container {
  width: 100%;
  height: 119.33px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 40px;
}
.searchsectionmid-container {
  width: 100%;
  border: 1px solid rgba(63, 61, 61, 0.436);
  height: 83.34px;
  border-radius: 5px;
  padding: 20px;
}
.searchname {
  height: 45.46px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.searchname .find-btn {
  height: 100%;
  font-size: 16px;
  padding: 0px 50px;
  font-weight: 700;
  font-family: Circular Std;
  background-color: #002855;
  color: #fff;
  outline: none;
  border-radius: 5px;
}
.searchbyname {
  display: flex;
  height: 100%;
  flex: 1;
}

.searchbyname p {
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: Circular Std;
  font-size: 15.15px;
  font-weight: 500;
  line-height: 19.17px;
  border: 1px solid rgba(63, 61, 61, 0.436);
}
.reportsearchinput {
  height: 100%;
  border: 1px solid rgba(63, 61, 61, 0.436);
  outline: none;
  background: url(../assets/search\ icon.svg) no-repeat;
  display: flex;
  align-items: center;
  background-position: left center;
  background-position-x: 10px;
  padding: 12px 35px;
  flex: 1;
}
.recent-result {
  font-family: Circular Std;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  margin: 20px 0px;
  color: #9e9e9e;
}

/* table container */
.tablewrapper {
  width: 100%;
  height: 340px;
  background-color: #fff;
  padding: 40px 40px 20px 30px;
  border-radius: 5px;
}
.report-container-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 5px;
}

.report-container-table thead th {
  padding: 10px;
  text-align: left;
  border: none;
  font-family: Circular Std;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.18px;
  text-align: center;
  color: #7f8b94;
}

.report-container-table tbody tr td {
  height: 49px;
  margin-bottom: 10px;
}

.report-container-table tbody td {
  text-align: left;
  font-family: Circular Std;
  font-size: 12px;
  font-weight: 450;
  line-height: 15.18px;
  text-align: center;
  /* padding: 10px; */
  border-top: 1px solid rgba(63, 61, 61, 0.436);
  border-bottom: 1px solid rgba(63, 61, 61, 0.436);
  background-color: #fff;
}
.report-container-table td.dots {
  width: 6.73px;
  height: 8px;
  font-size: 20px;
  color: #353535;
}
/* overlay */
.reportoverlaycontent {
  width: 100%;
  height: 100%;
  padding: 15px;
  line-height: 30.12px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(39, 76, 140, 0.26);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
}
.reportpop-up {
  background-color: #fff;
  width: 450px;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
}
.reportpop-up h1 {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

.reportsales-overview {
  width: 100%;
  height: 40px;
  background: #ffb94640;
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.reportsales-overview h4 {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  padding-left: 10px;
}
.reportsales-overview p {
  font-family: Mulish;
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  cursor: pointer;
  color: #e30000;
  padding-left: 15px;
}
.data-date {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
.datadate-text {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.57px;
  text-align: left;
  color: #7f8b94;
  padding-top: 8px;
}
.data-date-container {
  display: flex;
}
.data-date-box {
  display: flex;
  border: 2px solid #ddd;
  width: 132px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
}
.data-date-box p {
  font-family: Mulish;
  font-size: 10px;
  font-weight: 600;
  line-height: 12.55px;
  text-align: left;
}
.data-date-box img {
  width: 10px;
  height: 6px;
}
.check-current-reporting {
  display: flex;
  gap: 10px;
  background-color: #f5f8fa;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
.check-current-reporting p {
  font-family: Circular Std;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.18px;
  text-align: left;
}
.reportselect-links {
  margin-top: 10px;
}
.reportselect-links a {
  text-decoration: underline;
  font-family: Circular Std;
  font-size: 11px;
  font-weight: 700;
  line-height: 13.91px;
  text-align: left;
  color: #002855;
}

td.first-td {
  border-left: 1px solid rgba(63, 61, 61, 0.436);
}

td.dots {
  border-right: 1px solid rgba(63, 61, 61, 0.436);
}

/* scrollable input checkboxes styling */
.scrollable-container {
  width: 100%;
  height: 220px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 7px 20px;
  background-color: #fff;
  border-radius: 5px;
}
.scrollable-container label {
  display: block;
  font-family: Circular Std;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.18px;
  text-align: left;
  color: #7f8b94;
}

.scrollable-container input[type="checkbox"] {
  margin-right: 10px;
  width: 13.38px;
  height: 12px;
  margin-top: 10px;
}

/* Customize scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 8px;
}
.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scrollable-container::-webkit-scrollbar-button {
  display: none;
}

/* cancel and create button */

.cancel-create-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}
.cancel-create-button > button {
  padding: 10px 30px;
  font-family: Circular Std;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.77px;
  text-align: left;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.cancel-create-button .cancel {
  background-color: #d4d4d4;
}
.cancel-create-button .create-report {
  background-color: #002855;
}

/* success popup style */
.successpopupcontainer {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
  z-index: 3330;
}
.reportsuccess-popup {
  height: 400px;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 10;
  margin-bottom: 100px;
}
.reportsuccess-popup h1 {
  text-align: center;
  font-family: Circular Std;
  font-size: 32px;
  font-weight: 500;
  line-height: 40.48px;
  text-align: center;
  margin-top: 50px;
}
.reportsuccess-popup .successimg {
  width: 25%;
  height: 25%;
  margin: auto;
}
.success-btn {
  margin: auto;
  width: 185.94px;
  height: 53.13px;
  color: #fff;
  background-color: #002855;
  border: none;
}
/* block table for smaller screen  */
.block-table {
  display: flex;
  max-width: 530px;
  width: 100%;
  padding: 25px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.informationdetail-box {
  display: flex;
  width: 100%;

  flex-direction: column;
}
.person-detail {
  display: flex;
  justify-content: space-between;
  height: 24px;
}
.block-table {
  display: none;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media  screen and (max-width:760px) {
    .report-table-header .report-table-header-btn {
        height: Hug (28px) px;
        font-size: 10px;
        font-weight: 700;
        line-height: 10.24px;
        padding: 10px;
      } 
      .report-table-header h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 20.36px;
        margin-bottom: 0px;
      }
      @media  screen and (max-width:668px){
        .searchname{
            flex-direction: column;
        }
        .searchbyname p {
            display:none;
        }
        .searchname{
            align-items: flex-start;
        }
        .searchinput{
            width:100%;
            flex:1;
        }
        .searchsection-container {
            width: 100%;
            height: 160.33px;
            padding-top: 0px;
            padding: 10px;
           background-color: rgba(39,83,135,0.08);
            backdrop-filter: blur(10px);
            
        }
        .searchbyname  {
          width: 100%;
          border-radius: 5px;
        }
        .searchname .find-btn {
            font-family: Circular Std;
            height: 100%;
            font-size: 10px;
            font-weight: 700;
            padding: 5px 30px;
            background-color: #002855;
            margin-top: 0px;
        }
        .searchsectionmid-container{
          border:none;
          padding:15px;
        }
      }
      @media  screen and (max-width:555px){
        .tablewrapper{
            display:none;
        }
        .block-table{
            display:flex;
            border-radius: 1px solid #ddd;
        }
.recent-result{
    padding-left:20px
}
      }
}
