<div class="grid-container" id="root">
  <header class="header">
    <p>header</p>
  </header>

  <aside id="sidebar">
    <img src="../assets/logo.svg" alt="logo" class="logo" />
    <nav id="main-nav" class="sidebar">
      <ul class="sidebar_list_cont">
        <li class="sidebar_list">
          <a href="#/dashboard-page" class="active-link">
            <img src="../assets/dashboardIcon.svg" alt="" />
            <span class="sidebar-text"> Overview </span>
          </a>
        </li>
        <li class="sidebar_list">
          <a href="#/prospect">
            <img src="../assets/prospect-icon.svg" alt="" />
            <span class="sidebar-text"> Requests </span>
          </a>
        </li>
        <li class="sidebar_list">
          <a href="#/report">
            <img src="../assets/reports-icon.svg" alt="" />
            <span class="sidebar-text"> Requests </span>
          </a>
        </li>
        <li class="sidebar_list">
          <a href="#settings">
            <img src="../assets/setting-icon.svg" alt="" />
            <span class="sidebar-text"> Requests </span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="main-content"></div>
</div>
